<section>
  <h1>HOW TO ORDER</h1>
  <div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/SVG/noodle.svg"
        alt=""
      />
      <span>Pick your nooddle</span>
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/SVG/broth.svg"
        alt=""
      />
      <span>Pick your broth</span>
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/SVG/egg.svg"
        alt=""
      />
      <span>Add you toppings</span>
    </div>
  </div>
</section>
